* {
    box-sizing: border-box;
    padding: 0%;
    margin: 0%;
    font-family: arial;

}

.nav {
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 2px solid red; */
    gap: 50px;
}

.logo {
    width: 15%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 2px solid gray; */
}

.logo img {
    width: 60px;
}

.nav ul {
    width: 60%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    /* border: 1px solid forestgreen; */
}

.nav ul li {
    list-style: none;
}

.nav ul li a {
    color: black;
    text-decoration: none;
    font-size: 18px;
}

.nav button {
    padding: 18px 25px;
    /* background-color: blue; */
    color: black;
    font-size: 18px;
    border-radius: 30px;
}

.nav button:hover {
    color: white;
    background-color: blue;
    transition: 1s all ease-in-out;
}

.con {
    width: 100%;
    height: 120vh;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 2px solid lawngreen; */
    
}

.con .left {
    width: 40%;
    height: 120vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    /* border: 3px solid hotpink; */
    gap: 30px;
    padding-left: 50px;
}
.con .left h5{
    font-size: 20px;
    color: #7153d9;
}
.con .left h1{
    font-size: 70px;
    width: 80%;
}

.con .left p{
    font-size: 20px;
    width: 70%;
}
.con .left button{
    padding: 18px 45px;
    border: 2px solid blue;
    border-radius: 30px;
    background-color: blue;
    color: white;
}
/* --------right-------- */
.con .right {
    width: 60%;
    height: 120vh;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 3px solid darkgrey; */
}


.con .right img {
    width: 100%;
    height: 90%;
}

/* -----two---- */

.two{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 2px solid forestgreen; */
  gap: 30px;
}
.card1{
    width: 28%;
    height: 60%;
    /* border: 3px solid goldenrod; */
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    gap: 20px;
}
.card1 h6{
    color: #7153d9;
    font-size: 50px;
    align-items: start;

}

.card1 p{
    width: 90%;
    font-size: 18px;
    align-items: center;
}
.card2{
    width: 28%;
    height: 60%;
    /* border: 3px solid goldenrod; */
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
}
.card2 h6{
    color: #7153d9;
    font-size: 50px;
}

.card2 p{
    width: 90%;
    font-size: 18px;
    align-items: center;
}
.card3{
    width: 28%;
    height: 60%;
    /* border: 3px solid goldenrod; */
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;

}

.card3 h6{
    color: #7153d9;
    font-size: 50px;
}

.card3 p{
    width: 90%;
    font-size: 18px;
    align-items: center;
}


.three{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 2px solid lawngreen; */
    background-color:#f2f5fb;
    
}
.three .left{
    width: 90%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    /* border: 3px solid hotpink; */
    gap: 30px;
    padding-left: 50px;
}
.three .left h5{
    font-size: 20px;
    color: #7153d9;
}
.three .left h1{
    font-size: 70px;
    width: 80%;
}
.three .left h4{
    font-size: 20px;
    width: 70%;
}

.three .left p{
    font-size: 20px;
    width: 70%;
}
.three .left button{
    padding: 18px 45px;
    border: 2px solid blue;
    border-radius: 30px;
    background-color: blue;
    color: white;
}

.three .right{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 3px solid darkgrey; */
}
.four{
    width: 100%;
    height: 120vh;
    border: 2px solid red;
    display: flex;
    justify-content: center;
    align-items: center;
    /* flex-direction: column; */
}
.four .left{
    width: 100%;
    height: 120vh;
    border: 2px solid darkolivegreen;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;

}
.four .right{
    width: 100%;
    height: 120vh;
    border: 2px solid red;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.four .card-1{

}